{% extends "layout.html" %}

{% block content %}
    <main class="main-content contest-announcements column-container">
        <h1>Bernethia's Beetles Contests</h1>
        <p>Congratulations to <strong>Shannon Nacherwyfe</strong>, winner of our "Vespertine Dream" habitat decorating photo contest!</p>
        <img src="..\img\vespertine-dream.png" alt="inside of beetle tank with white sand and pink crochet backdrop" class="main-img" id="contest-winner">
        <p>Check back for upcoming contests, or keep up with all the latest news by signing up for <a href="signup.html" class="blue-links">Bernethia's Beetles Bi-weekly Bulletin</a>.</p>
    </main>
{% endblock %}  