{% extends "layout.html" %}

{% block content %}
    <main class="main-content signup-page">
        <div id="form-header">
            <h1>Bernethia's Beetles Bi-weekly Bulletin</h1>
            <p>Exclusive photos and videos, care tips, and chances to win cool beetle-themed prizes.</p>
        </div>
        <form class="signup-form">
            <h2 class="centered-items">Sign Up Today!</h2>
            <div class="form-item first-name column-container centered-items">
                <label for="first-name-input">*First Name:</label>
                <input type="text" id="first-name-input" name="first-name">
            </div>
            <div class="form-item last-name column-container centered-items">
                <label for="last-name-input">Last Name:</label>
                <input type="text" id="last-name-input" name="last-name">
            </div>
            <div class="form-item email column-container centered-items">
                <label for="email-input">*Email:</label>
                <input type="email" id="email-input" name="email" >
            </div>
            <div class="form-item birthday column-container centered-items">
                <label for="birthday-input">*Birthday month:</label>
                <select id="birthday-input" name="birthday">
                    <option>--Choose One--</option>
                    <option>January</option>
                    <option>February</option>
                    <option>March</option>
                    <option>April</option>
                    <option>May</option>
                    <option>June</option>
                    <option>July</option>
                    <option>August</option>
                    <option>September</option>
                    <option>October</option>
                    <option>November</option>
                    <option>December</option>
                </select>
            </div>
            <div class="form-item favorite-beetle column-container centered-items">
                <label for="favorite-beetle-input">*Who is your favorite beetle?</label>
                <select id="favorite-beetle-input" name="favorite-beetle">
                    <option>--Choose One--</option>
                    <option>Big Girl</option>
                    <option>Blackbutt</option>
                    <option>The Other One</option>
                    <option>New Girl</option>
                    <option>Sickly Twin</option>
                    <option>Strong Twin</option>
                </select>
            </div>
            <div class="form-item submit-button column-container centered-items">
                <button type="button" class="submit" id="submit-button">Submit</button>
            </div>
        </form>
        <div id="form-submit-message">
            <p class="required">*=required</p>
        </div>
    </main>
{% endblock %}  